@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{ scroll-behavior: smooth;
    scroll-padding: 150px;
}


.AboutUs-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.AboutUs_maine-text {
    color:#1A202C;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}

.AboutUs_maine-text::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #F76680, #57007B); 
    margin-bottom: 10px;
}

span{
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.AboutUs_info-text {
    font-family: "Inter", sans-serif;
    font-size: 14;
    font-weight: 300;
    color: #4A5568;
    margin-top: 15px;
}

.AboutUs-button {
    margin-top: 15px;
}

.AboutUs_btn-text {
    color: #57007B;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex; 
    
}

.icon-style {
    font-size: 20px;
    margin-left: 10px;
}

